body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
     background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.content-wrapper {
  display: flex;
  flex-direction: row; /* Arrange items horizontally */
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Space between items */
}

/* Styles for the centered content */
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  max-width: 100%;
}
.centered h1 {
  font-size: 2.5rem; /* Adjust the font size as needed */
  margin: 10px 0;
  text-align: justify;
}

/* Update paragraph style */
.centered p {
  font-size: 1.1rem; /* Adjust the font size as needed */
  text-align: justify;
  margin-bottom: 10px 0;
}

/* Highlighted text style */
.highlight-text {
    background-color: #F8C01B;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

/* Circular image style */
.round-image {
  width: 125px;
  height: 125px;
  min-width: 150px; /* Minimum width for the circular image */
  min-height: 150px; /* Minimum height for the circular image */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  object-fit: cover;

}
.center{
    align-items: right;
    justify-content: right;
}
.round-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
  .centered h1 {
      font-size: 1.5rem; /* Adjust the font size for smaller screens */
  }
  .centered p {
      font-size: 0.9rem; /* Adjust the font size for smaller screens */
  }
  .content-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
}

/* Hide other sections initially */
.hidden-section {
    display: none;
    padding: 20px;
}
.about {
    width: 100%;
    margin-top: 50px;
    margin-left: 35px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.g-form-container {    
    position: relative; 
    width: 100%; 
    overflow: hidden; 
    padding-top: 100%; /* 1:1 Aspect Ratio */ 
    background-color: #f3f3f0; 
    } 
    
  .responsive-iframe { 
    position: absolute; 
    top: 0; left: 0; 
    bottom: 0; 
    right: 0; 
    width: 100%; 
    height: 100%; 
    border: none; 
    } 




#about {
    
    background-color: #f3f3f0;
    margin-left: 10px;
    padding : 20px 0;
}

#about table {
    width: 100%;
    border: 0;
    padding: 0;
    border-spacing: 0;
}

#about td {
    height: auto;
    padding: 10px;
}
.container-about {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.heading {
    text-align: center;
    color: #f3971b;
    font-size: 24px;
    padding: 15px;
}
.section-heading h2 {
  font-size: 24px;
  color: #f3971b;
  margin: 0 15px;
  display: inline-block;
}

.hr-line {
  flex-grow: 1;
  background-color: #f3971b;
  height: 2px;
  margin-left: 10px; /* Add some margin to separate the line from text */
  margin-right: 10px;
}
.section-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    
}

.content img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.content-text {
    color: #000000;
    font-size: 20px;
    margin-left: 20px;
}
.content-text h2 {
  margin: 0 0 15px;
  font-size: 18px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .content img {
        max-width: 100%;
        max-height: 20%;
    }
}


.pdf-container {
    position: relative;
    width: 100%;
    padding-bottom: 62.5%; /* 16:10 aspect ratio (height/width) */
}

.pdf-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




main {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .topic {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: solid 1px #ebebeb;
  }
  .open {
    cursor: pointer;
    display: block;
    padding: 0px;
  }
  .open:hover {
    opacity: 0.7;
  }
  .expanded {
    background-color: #f5f5f5;
    transition: all 0.3s ease-in-out;
  }
  .question {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
  }
  .answer {
    font-size: 16px;
    line-height: 26px;
    display: none;
    margin-bottom: 30px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
  }
  .faq-t {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
    float: right;
    position: relative;
    top: -55px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transition: all 0.3s ease-in-out;
  }
  .faq-o {
    top: -50px;
    -moz-transform: rotate(-224deg);
    -ms-transform: rotate(-224deg);
    -webkit-transform: rotate(-224deg);
    transform: rotate(-224deg);
  }
  @media only screen and (max-width: 480px) {
    .faq-t {
      display: none;
    }
    .question {
      padding-right: 0px;
    }
    main {
      padding: 10px;
    }
    .answer {
      margin-bottom: 30px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  